.App-main {
    height: 83%;
    color: white;
    display: table;
    text-align: center;
    margin: auto;
}

.main-content {
    vertical-align: middle;
    display: table-cell;
}

.menu-items li {
    list-style: none;
    padding: 8px 0px;
}

.menu-items li a {
    font-family: Rajdhani;
    color:white;
    -webkit-text-stroke-width: 1px;
}

.menu-icon span {
    background: white !important;
}